html, body {
    min-height: 100%; /**pk pas height 100%?*/
    font-size: 12pt; /*un intéret de mettre cette règle?*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*bordure comprise dans le calcul de ma div/section*/
}

h1, h2 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}